.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: .1px;
}

.header {
    display: none;
    align-items: center;
}

.titulo-principal {
    width: 50%;
}

.span {
    color: #F9A109;
}

.items-home {
    padding-left: 1rem;
}

@media (min-width: 768px) {
    .home-container {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4rem;
    }

    .header {
        display: flex;
    }

    .items-home {
        padding-left: 0;
    }

}