.history-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.titulo-principal-history {
    text-align: center;
}

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha-mes {
    font-weight: bold;
}

.order-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.datos_pedido-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .1rem;
}

.fecha-compra-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    color: #C1C1C4;
    gap: .75rem;
}

.titulo-pedido {
    font-size: 1rem;
}

.estado {
    border-radius: 8px;
    padding: .2rem .3rem;
    user-select: none;
    text-align: center;
}

.estado-completed {
    color: #56CCF2;
    border: 1px solid #56CCF2;
}

.estado-cancelled {
    color: #EB5757;
    border: 1px solid #EB5757;
}

@media (min-width: 768px) {
    .history-container {
        flex-direction: row;    
    }

    .content-container {
        margin-left: 4rem;
        flex: 1;
    }

    .order-container, .datos_pedido-container, .fecha-compra-container {
        flex-direction: row;
    }

    .orders-container {
        align-items: flex-start;
        gap: 0;
    }

    .order-container {
        width: 100%;
    }

    .datos_pedido-container {
        gap: 2rem;
    }

    .titulo-pedido {
        font-size: 1.3rem;
    }

    .titulo-principal-history {
        text-align: left;
    }
}