.cart-container {
    background-color: #FFF0DE;
    padding: .1px;
    max-width: 99vw;
    height: 100vh;
    overflow-y: scroll;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    cursor: pointer;
}

.additem-container {
    background-color: #80485B;
    margin: 10% 5%;
    border-radius: 24px;
    display: flex;
    padding: 1rem .5rem;
    position: relative;
}

.info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}


.titulo-secundario {
    margin: 0;
    color: #FFFFFF;
}

.image-container img {
    position: relative;
    top: -35px;
    left: -10px;
} 

.item-container {
    padding-left: 1.25rem;
    flex: 1;
}

.noItem-container {
    height: 100%;
    /* flex: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.noItem-image {
    position: absolute;
    bottom: 0;
}

.item-container h1 {
    font-size: 1.5rem;
}

.item-container h2 {
    font-size: .875rem;
    color: #828282;
    font-weight: 500;
}

.item-list {
    margin-top: 2.4rem;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.item-title {
    font-size: .875rem;
    font-weight: 700;
}

.search-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 2.1rem 1rem;
    position: sticky;
    bottom: 0;
    margin-top: auto;
}

.input-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #F9A109;
    border-radius: 12px;
    width: 100%;
    height: 61px;
    align-items: center;
    overflow: hidden;
}

.input-container-disabled {
    border-color: #C1C1C4;
}

.input-text {
    height: 80%;
    border: none;
    padding-left: 1rem;
    width: 150px;
    outline: none;
}

.input-text::placeholder {
    color: #BDBDBDed;
    font-family: 'Quicksand';
}

.input-submit {
    background-color: #F9A109;
    height: 100%;
    width: 87px;
    border: none;
    /* border-radius: 10px; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Quicksand';
    cursor: pointer;
}

.input-submit:disabled {
    background-color: #C1C1C4;
}

@media (min-width: 768px) {
    .cart-container {
        padding: 0;
        min-width: 450px;
        position: sticky;
        top: 0;
    }

    .additem-container {
        justify-content: space-between;
        margin: 2rem 3rem;
        padding: 0;
    }

    .noItem-container {
        justify-content: center;
    }


    .info-container {
        width: 60%;
    }

    .image-container img {
        top: -16px;
        left: 20px;
        transform: scale(1.1);
    }

    .item-title {
        font-size: 1.1rem;
    }
}   